/* common css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    border: 0;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

/* banner part */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
}

.banner-content {
    max-width: 600px;
}

.banner-content h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 700;
}

.banner-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 26px;
    margin-top: 8px;
}

.banner-img {
    width: 500px;
    padding-top: 30px;
}

/* our featured flower part */
.our-featured-flowers {
    padding: 100px 0px;
}

.feature-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
    width: 1140px;
    margin: 0 auto;
}

.feature-img img {
    padding: 100px 20px 0px;
    width: 300px;
    height: 300px;
}

.feature-img .img-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.feature-img .img-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.feature-img .img-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.feature-item a {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

/* support part*/
.support {
    border-radius: 8px;
}

.support-container {
    background: rgba(39, 39, 39, 0.05);
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding: 50px 0px;
}

/* hot deals part */
.hot-deals-container {
    background: rgba(229, 84, 115, 0.05);
}

.hot-deals {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 100px;
    margin: 100px;
    border-radius: 8px;
}

.hot-deals h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
}

.hot-deals p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: 10px;
}

.deals-content {
    display: block;
    text-align: center;
}

.hot-deals img {
    height: 300px;
}

/* instagram */
.instagram-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.instagram-images img {
    width: 250px;
}

/* contact part */
.contact {
    text-align: center;
    background: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1060px;
    padding: 100px 0px;
    margin: 100px auto;
}

input[type="email"] {
    padding: 20px 100px;
}